@page
@model Users.Pages.CompanyModel
@{
}
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">

    <!-- row -->
    <div class="page-titles">
        <ol class="breadcrumb">
            <li><h5 class="bc-title">Company</h5></li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Company</a></li>
        </ol>
        <a class="text-primary fs-13" data-bs-toggle="offcanvas" href="#offcanvasExample1" role="button" aria-controls="offcanvasExample1">+ List Companies</a>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="heading mb-0">Add New Company</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <!-- Basic Company Information -->
                    <h5 class="mb-3">Basic Company Information</h5>
                    <div class="row">
                        <!-- Company Name -->
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="CompanyName" class="text-secondary font-w500">Company Name</label>
                                <input type="text" name="CompanyName" id="CompanyName" class="form-control" placeholder="Enter Company Name">
                            </div>
                        </div>
                        <!-- Domain -->
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="Domain" class="text-secondary font-w500">Domain</label>
                                <input type="text" name="Domain" id="Domain" class="form-control" placeholder="Enter Company Domain (e.g., company1.com)">
                            </div>
                        </div>
                        <!-- Description -->
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="Description" class="text-secondary font-w500">Description</label>
                                <textarea name="Description" id="Description" class="form-control" placeholder="Enter Company Description"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Associated Details -->
                    <h5 class="mb-3">Company Associations</h5>
                    <div class="row">
                        <!-- Users -->
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="CompanyUsers" class="text-secondary font-w500">Users</label>
                                <input type="text" name="CompanyUsers" id="CompanyUsers" class="form-control" placeholder="Enter Associated Users">
                            </div>
                        </div>
                        <!-- Modules -->
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="CompanyModules" class="text-secondary font-w500">Modules</label>
                                <input type="text" name="CompanyModules" id="CompanyModules" class="form-control" placeholder="Enter Available Modules">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
