@page
@model Projects.Pages.CommentModel
@{
}

<div class="content-body">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li><h5 class="bc-title">Add Comment</h5></li>
        </ol>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="heading mb-0">Add New Comment</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <h5>Comment Information</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="Text" class="text-secondary font-w500">Comment</label>
                                <textarea name="Text" id="Text" class="form-control" rows="3" placeholder="Enter your comment"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="Author" class="text-secondary font-w500">Author</label>
                                <input type="text" name="Author" id="Author" class="form-control" placeholder="Enter Author Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="IssueId" class="text-secondary font-w500">Issue ID</label>
                                <input type="number" name="IssueId" id="IssueId" class="form-control" placeholder="Enter Issue ID">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="CommentDate" class="text-secondary font-w500">Comment Date</label>
                                <input type="datetime-local" name="CommentDate" id="CommentDate" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>